a {
    text-transform: uppercase;
}

button {
    color: black;
    text-align: center;
    border: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    
}

.active {
    background-color: #4CAF50; /* Green */
    color: white;
}