<div class = "navbar-container" 
     [ngClass]="themeService.value">

    <a class="link" 
       routerLink="/home" 
       routerLinkActive="active">homepage
    </a>
    <a class="link" 
       routerLink="/contacts" 
       routerLinkActive="active">contacts
    </a>
    <a class="link" 
       routerLink="/users" 
       routerLinkActive="active">users
    </a> 
    <a class="link" 
       routerLink="/settings" 
       routerLinkActive="active">settings
    </a> 
    <br/><br/>
    <input type="text" />

</div>
